* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #066279;
}
.search-form {
  background-color: rgb(15, 208, 241);
  display: flex;
  justify-content: center;
  padding: 10px;
  position: sticky;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit {
  border: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

input {
  border: none;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 0 auto;
  padding: 20px;
}

.photo-card {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.info-item {
  text-align: center;
}

.info-item {
  display: block;
  font-weight: bold;
}

.load-more {
  border: none;
  padding: 7px;
  margin: 10px auto;
  font-size: 2em;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  background-color: rgb(15, 208, 241);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

.load-more:hover {
  background-color: rgb(5, 96, 182);
}
